.content-container {
	width: 60vw;
	margin: 0 auto;
	margin-top: 50px;
	padding: 2px;
	display: flex;
	justify-content: space-around;
	border: 1px dashed red;
}
.score-modal {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	margin: 0;
}
.score-modal div {
	margin: 0 auto;
	border: 1px solid white;
	width: 400px;
	height: 100px;
	text-align: center;
	padding-top: 70px;
	margin-top: 25vh;
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	font-size: 24px;
	z-index: 1;
}