.main-container {
	border: 1px dashed black;
	width: 50vw;
	height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.excerpt-detail {
	display: flex;
	justify-content: space-between;
	border: 1px solid pink;
}
.excerpt-input {
	width: 500px;
}
.initial-keyboard {
	fill: 'white';
}
.on-press {
	fill: 'palevioletred';
}