.main-container {
	background-color: pink;
	width: 75%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.excerpt-container {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}
.excerpt-detail {
	display: flex;
	justify-content: space-between;
}
.excerpt-input {
	width: 500px;
}